.header-main{
    display: flex;
    align-items: center;
    /* gap: 30px; */
    justify-content: space-between;
    /* padding: 20px; */
    padding-top: 30px;
    background-color: #F3F3F3;
    border-top-left-radius: 20px;
}


.btn{
    color: white;
    width: auto;
    background-color:  rgba(49, 46, 129, 1);
    border: none;
    border-radius: 44px;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.search-bar{
    width: 65%;
    margin-top: -16px;
    /* display: flex;
    align-items: center;
    gap: 10px; */
    /* background-color: red; */
}

.burger{
    font-size: 10px;
}

.search-bar input{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 40px;
    padding-left: 45px;
    outline: none;
}

.search-icon{
    position: relative;
    top: 30px;
    left: 15px;
}

.nav-items{
    /* width: 40%; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    /* justify-content: space-evenly; */
    /* background-color: pink; */
}

#btn-bell{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color:  rgba(49, 46, 129, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* responsive design */
@media screen and (max-width: 1026px){
    .header-main{
        /* background-color: pink; */
    }

    .search-bar input{
        width: 90%;
    }

    .header-main{
        padding-left: 10px;
    }

    .btn{
        font-size: 10px;
    }
}

@media screen and (max-width: 770px){
    .search-bar input {
        width: 82%;
    }
}

@media screen and (max-width: 427px){
    .header-main{
        flex-direction: column;
    }

    .nav-items{
        margin-top: 10px;
    }

    .search-bar{
        margin-left: -40px;
    }
}