.Main{
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  /* margin-top: 30px; */
  /* background-color: red; */
}

.desc-main-div{
  width: 80%;
}

.bill-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}

.calender{
  display: flex;
  gap: 15px;
  background-color: rgba(203, 227, 255, 1);
  padding: 0px 5px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  height: 38px;
  margin-right: 10px;
}

.arrow-btn{
  height: 30px;
  width: 30px;
  background-color: rgba(49, 46, 129, 1);
  border-radius: 5px;
  color: white;
}

/* responsive design */

@media screen and (max-width: 770px){
  .billing-overview{
    padding-left: 60px;
  }
}


@media screen and (max-width: 1026px){
  .billing-overview{
    padding-left: 10px;
  }

  .billing-overview h1{
    font-size: 10px;
  }
}